<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goit-pythonweb-hw-02</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="main-text">Домашня робота: Введення в Docker та контейнеризацію</div>
    <button type=button  class="check-button" onclick="checkHealth()">Перевірити БД</button>
    <div id="response" class="response"></div>
    <script src="/static/main.js"></script>
</body>

</html>